@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');


/* root item declare */
:root{
   --play-font: "Play", sans-serif;
   --ubuntu-font: "Ubuntu", sans-serif;
   --bar-code : "Libre Barcode 128 Text", system-ui;
   

}
/* main style start from here */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    max-width: 1400px;
    margin: 0 auto;

}
/* pre loader er css starts from here */
#loader {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
}
.loader-content-box{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.loader-item-box{
    width: 8px ;
    border-radius: 7px;
    /* border: 1px solid red; */
}
.loader-content-box .loader-item-box:nth-child(1){
    animation: loader 3s  ease-in-out 0s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(2){
    animation: loader 3s  ease-in-out 0.6s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(3){
    animation: loader 3s  ease-in-out 1.2s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(4){
    animation: loader 3s  ease-in-out 1.8s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(5){
    animation: loader 3s  ease-in-out 2.4s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(6){
    animation: loader 3s  ease-in-out 0s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(7){
    animation: loader 3s  ease-in-out 0.6s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(8){
    animation: loader 3s  ease-in-out 1.2s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(9){
    animation: loader 3s  ease-in-out 1.8s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(10){
    animation: loader 3s  ease-in-out 2.4s infinite  ;
}

@keyframes loader {
    0%{
        height: 0px;
        background-color: #f1c40f;
    }
    50%{
        height: 50px;
        background-color: #f1c4;
    }
    100%{
        height: 0px;
        background-color: #f1c40f;
    }
}
/* pre loader er css ends from here */

/* nav section starts */
.nav-section-pc{
    width: 100%;
    background-color: #34495e;
}
.nav-pc{
    width: 90%;
    height: 60px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-pc .nav-logo{
    font-size: 2.4rem;
    font-weight: 800;
    font-family: var(--play-font);
    background: linear-gradient(to top left, #ff0000 ,#FF00FF);
    background-clip: text;
    color: transparent;
    cursor: pointer;
}
.nav-pc .nav-link ul{
    display: flex;
    gap: 0.33rem;
}
.nav-pc .nav-link ul li{
    list-style: none;

}
.nav-pc .nav-link ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--ubuntu-font);
    padding: 0.5rem;
    /* border: 1px solid red; */
    transition: all 300ms ease-in-out;
}
.nav-pc .nav-link ul li a:hover{
    border-bottom: 1px solid rgb(255, 84, 0);
    color: rgb(255, 84, 0);

}
.nav-pc .nav-link ul li:nth-last-child(1) a{
    background-color: rgb(255, 84, 0);
    border-radius: 2px;
    
}
.nav-pc .nav-link ul li:nth-last-child(1) a:hover{
    background-color: rgb(212, 73, 3);
    color: white;
}
.nav-icon{
    display: none;
}
.nav-icon i{
    color: white;
    font-size: 2rem;
}
.nav-icon #crossIcon{
    display: none;
}
.nav-link-mobile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    background-color: #34495e;
    padding: 2rem;
    transition: all 500ms ease-in-out;
}
.nav-link-mobile ul li{
    list-style: none;
    text-align: center;
    padding: 0.5rem;
}
.nav-link-mobile ul li a{
    text-decoration: none;
    color: white;
    font-family: var(--play-font);
    font-weight: 600;
    font-size: 1.5rem;
   
}

/* nav section ends */

/* hero section starts */
.hero-section{
    width: 100%;
    height: 100vh;
    background: url(../Images/Group\ 13\ \(1\)\ \(1\).png) ,  linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%) ;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.hero-title{
    font-family: var(--ubuntu-font);
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
    text-align: center;

}
.hero-details{
    margin-top: 1.5rem;
    color: #fff;
    font-size: 1rem;
    font-family: var(--play-font);
    text-align: center;
    max-width: 65%;
    opacity: 0.7;
}
.hero-search-container{
    height: 80px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 3rem;
}
.when , .type , .btn-search{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: rgba(19, 19, 24, 0.5);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: var(--ubuntu-font);

}
.btn-search{
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    background: rgb(255, 84, 0);
    color: #fff;
    transition: all 300ms ease-in-out;
}
.btn-search:hover{
    background-color: rgb(212, 73, 3);
}
.input-01 input{
   padding: 1rem;
   outline: none;
   border: none;
   color: rgba(19, 19, 24, 0.5);
   border-radius: 0.5rem;
   font-size: 1rem;
   font-family: var(--ubuntu-font);
}
/* hero section ends */