@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');


/* root item declare */
:root{
   --play-font: "Play", sans-serif;
   --ubuntu-font: "Ubuntu", sans-serif;
   --bar-code : "Libre Barcode 128 Text", system-ui;
   --primary-color : rgb(255, 84, 0);
   

}
/* main style start from here */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    max-width: 1400px;
    margin: 0 auto;

}
/* pre loader er css starts from here */
#loader {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
}
.loader-content-box{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.loader-item-box{
    width: 8px ;
    border-radius: 7px;
    /* border: 1px solid red; */
}
.loader-content-box .loader-item-box:nth-child(1){
    animation: loader 3s  ease-in-out 0s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(2){
    animation: loader 3s  ease-in-out 0.6s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(3){
    animation: loader 3s  ease-in-out 1.2s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(4){
    animation: loader 3s  ease-in-out 1.8s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(5){
    animation: loader 3s  ease-in-out 2.4s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(6){
    animation: loader 3s  ease-in-out 0s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(7){
    animation: loader 3s  ease-in-out 0.6s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(8){
    animation: loader 3s  ease-in-out 1.2s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(9){
    animation: loader 3s  ease-in-out 1.8s infinite  ;
}
.loader-content-box .loader-item-box:nth-child(10){
    animation: loader 3s  ease-in-out 2.4s infinite  ;
}

@keyframes loader {
    0%{
        height: 0px;
        background-color: #f1c40f;
    }
    50%{
        height: 50px;
        background-color: #f1c4;
    }
    100%{
        height: 0px;
        background-color: #f1c40f;
    }
}
/* pre loader er css ends from here */

/* nav section starts */
.nav-section-pc{
    width: 100%;
    background-color: #34495e;
}
.nav-pc{
    width: 90%;
    height: 60px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-pc .nav-logo{
    font-size: 2.4rem;
    font-weight: 800;
    font-family: var(--play-font);
    background: linear-gradient(to top left, #ff0000 ,#FF00FF);
    background-clip: text;
    color: transparent;
    cursor: pointer;
}
.nav-pc .nav-link ul{
    display: flex;
    gap: 0.33rem;
}
.nav-pc .nav-link ul li{
    list-style: none;

}
.nav-pc .nav-link ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--ubuntu-font);
    padding: 0.5rem;
    /* border: 1px solid red; */
    transition: all 300ms ease-in-out;
}
.nav-pc .nav-link ul li a:hover{
    border-bottom: 1px solid rgb(255, 84, 0);
    color: rgb(255, 84, 0);

}
.nav-pc .nav-link ul li:nth-last-child(1) a{
    background-color: rgb(255, 84, 0);
    border-radius: 2px;
    
}
.nav-pc .nav-link ul li:nth-last-child(1) a:hover{
    background-color: rgb(212, 73, 3);
    color: white;
}
.nav-icon{
    display: none;
}
.nav-icon i{
    color: white;
    font-size: 2rem;
}
.nav-icon #crossIcon{
    display: none;
}
.nav-link-mobile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    background-color: #34495e;
    padding: 2rem;
    transition: all 500ms ease-in-out;
}
.nav-link-mobile ul li{
    list-style: none;
    text-align: center;
    padding: 0.5rem;
}
.nav-link-mobile ul li a{
    text-decoration: none;
    color: white;
    font-family: var(--play-font);
    font-weight: 600;
    font-size: 1.5rem;
   
}

/* nav section ends */

/* hero section starts */
.hero-section{
    width: 100%;
    height: calc(100vh - 60px);
    background: url(../Images/Group\ 13\ \(1\)\ \(1\).png) ,  linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%) ;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.hero-title{
    font-family: var(--ubuntu-font);
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
    text-align: center;

}
.hero-details{
    margin-top: 1.5rem;
    color: #fff;
    font-size: 1rem;
    font-family: var(--play-font);
    text-align: center;
    max-width: 65%;
    opacity: 0.7;
}
.hero-search-container{
    height: 80px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 3rem;
}
.when , .type , .btn-search{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: rgba(19, 19, 24, 0.5);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: var(--ubuntu-font);

}
.btn-search{
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    background: rgb(255, 84, 0);
    color: #fff;
    transition: all 300ms ease-in-out;
}
.btn-search:hover{
    background-color: rgb(212, 73, 3);
}
.input-01 input{
   padding: 1rem;
   outline: none;
   border: none;
   color: rgba(19, 19, 24, 0.5);
   border-radius: 0.5rem;
   font-size: 1rem;
   font-family: var(--ubuntu-font);
}
/* hero section ends */

/* our popular tour section starts here */
.our-popular-section{
    width: 90%;
    margin: 0 auto;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 5rem;
    height: 450px;
    /* border: 1px solid red; */
    
}

.our-popular-section-part-2 img{
    width: 100%;
    height: 430px;
}
.ops-part-1-title{
    font-size: 3rem;
    font-family: var(--ubuntu-font);
    font-weight: 800;
    color: rgb(19, 19, 24);
}
.ops-part-1-details{
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-family: var(--play-font);
    margin-top: 1.2rem;
}
.ops-part-1-details ul{
    margin-top: 1.5rem;
    margin-left: 1rem;
}
.ops-part-1-details ul li{
    margin-top: 1rem;
}
.opsp-2-last-p{
    margin-top: 1rem;
}
.read-more-btn button{
    color: white;
    border: none;
    background-color: rgb(255, 84, 0);
    padding: 0.67rem 1.2rem;
    font-size: 1rem;
    font-family: var(--ubuntu-font);
    font-weight: 400;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
}
/* our popular tour section ends here */

/* choose your destination section  starts here*/
.choose-your-destination-section{
   
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    /* border: 1px solid red; */

}
.c-y-d-title{
    font-family: var(--ubuntu-font);
    color: rgb(19, 19, 24);
    font-size:2.5rem ;
    font-weight: 800 ;
    text-align: center;
    margin-bottom: 1.5rem;
}
.c-y-d-details{
    font-family: var(--ubuntu-font);
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}

.c-y-d-gallery{
    display: grid;
    gap: 1rem;
    margin-top: 3rem;
    grid-template-areas: 
                        "a a a a a a b b b b b b" 
                        "c c c c d d d d d e e e" 
                        "f f f f f g g g g g g g";

}
.c-y-d-g-box {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--ubuntu-font);
    font-weight: 600;
    font-size: 1rem;
    border-radius: 1rem;
}
.c-y-d-g-box p{
    font-size: 1.5rem;
}
.c-y-d-g-box-1{
    background-image: url(../Images/Rectangle\ 5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: a;
}
.c-y-d-g-box-2{
    background-image: url(../Images/Rectangle\ 8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: b;
}
.c-y-d-g-box-3{
    background-image: url(../Images/Rectangle\ 6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: c;
}
.c-y-d-g-box-4{
    background-image: url(../Images/Rectangle\ 7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: d;
}
.c-y-d-g-box-5{
    background-image: url(../Images/Rectangle\ 9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: e;
}
.c-y-d-g-box-6{
    background-image: url(../Images/Rectangle\ 11.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: f;
}
.c-y-d-g-box-7{
    background-image: url(../Images/Rectangle\ 10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: g;
}
/* choose your destination section  ends here*/

/* why section starts */
    .why-section{
        width: 90%;
        margin: 0 auto;
        margin-top: 4rem;
    }
    .why-title{
        font-size: 2.5rem;
        color: rgb(19, 19, 24);
        font-family: var(--ubuntu-font);
        font-weight: 700;
        text-align: center;

    }
    .why-description{
        font-size: 1rem;
        font-family: var(--ubuntu-font);
        color: rgba(19, 19, 24, 0.7);
        text-align: center;
        max-width: 60%;
        margin: 0 auto;
        margin-top: 1.5rem;
        margin-bottom: 4rem;
    }
    .why-card-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 1rem;
        justify-content: center;
      
        
    }

    .why-card{
        height: 100%;
        border-radius: 1rem;
        padding: 1.5rem;
        
    }
    .why-card  h3{
        color: rgb(19, 19, 24);
        font-family: var(--ubuntu-font);
        font-weight: 800;
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;

    }
    .why-card p{
        color: rgba(19, 19, 24, 0.7);
        font-family: var(--ubuntu-font);
        font-size: 1rem;
    }
    .why-card-1{
        background-color:  rgba(251, 181, 99, 0.05);
        border: 1px solid rgba(251, 181, 99, 0.2);
    }
    .why-card-2{
        background: rgba(41, 206, 246, 0.05);
        border: 1px solid rgba(41, 206, 246, 0.2);
    }
    .why-card-3{
        background-color: rgba(233, 68, 68, 0.05);
        border: 1px solid rgba(233, 68, 68, 0.2);
       
    }
/* why section ends */

/* deal section starts */
.deal-section{
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.deal-section h1{
    font-size: 2.5rem;
    color: rgb(19, 19, 24);
    font-family: var(--ubuntu-font);
    font-weight: 700;
    text-align: center;
}
.deal-section p {
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-family: var(--play-font);
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 1.5rem;
}
.deals-box-01{
    width: 100%;
    height: 450px;
    background-image: url(../Images/Group\ 39.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 2rem;
}
.deals-semibox{
    width: 580px;
    padding: 1.5rem;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: inherit;
}
.deals-icon-box{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.deals-icon-box span{
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-family: var(--ubuntu-font);
}
.deals-icon-box i {
    color: var(--primary-color);
    font-size: 1.1rem;
    margin-right: 0.25rem;
    
}
.deals-title{
    color: rgb(19, 19, 24);
    font-family: var(--ubuntu-font);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}
.deals-details{
    color: rgba(19, 19, 24, 0.7);
    font-family: var(--ubuntu-font);
    font-size: 1rem;

}
.deals-price{
    color: var(--primary-color);
    font-family: var(--ubuntu-font);
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 0.8rem;
}
.deal-section button{
    padding:  1rem;
    color: white;
    font-family: var(--ubuntu-font);
    font-weight: 700;
    background-color: var(--primary-color);
    font-size: 1.3rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.deals-box-02{
    background-image: url(../Images/Group\ 40.png);
    justify-content: flex-start;
}
.see-all-btn{
    text-align: center;
    margin-top: 2rem;
}
.see-all-btn span{
    color: white;
    font-size: 1rem;
    font-family: var(--ubuntu-font);
    padding: 0.67rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    background: var(--primary-color);
}
/* deal section ends */